@import './variables.scss';
@import './mixin.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:400;
}
button, input, textarea{
  -webkit-appearance: none;
  border:0;
  // outline: 0;
  all: unset;
}

button{
  @include resetButton;
  font-size: inherit;
  color: inherit;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:400;
  cursor:pointer;
  &:focus, &:active {
    outline: 0;
  }
}
label {
  font-weight: 700;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}
a {
  display: block;
}
a,
a:focus,
a:hover {
  color:inherit;
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}
img{
  width:100%;
  max-width: 100%;
  height: auto;
  display: block
}
div:focus {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

input {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
*, button{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin:0;padding:0;
}
ul,ol{
  list-style: none;
  padding:0;margin:0;
}
li{
  padding:0;margin:0;
}

strong {
  font-weight: 400;
}

.bold{font-weight: 700 !important;}
.ta-left{text-align: left !important;}
.ta-center{text-align: center !important;}
.ta-right{text-align: right !important;}

.inline{display: inline !important}
.block{display: block !important;}

body .k-widget{
  font-family: 'Noto Sans KR', sans-serif;
  vertical-align: baseline;
  resize: vertical;
  overflow: auto;
}
textarea{
  height: inherit;
  line-height: inherit;
  box-sizing: border-box;
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
select {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

.mdi {
  display: inline-block;
  &::before {
    display: block;
  }
}

input::placeholder, textarea::placeholder{
  color: rgba(0,0,0,0.87);
  opacity: .6;
}
input::-ms-clear { display: none; }
input:disabled{
  background-color: transparent;
}

.hidden {
  position: absolute;
  top: 1px;
  left: 1px;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.additional-item {
  margin-left: auto !important;
}

.loading {
  margin-top: 50px;
  >div {
    text-align: center;
  }
  svg {
    fill: $light-blue;
  }
}
