//폰트사이즈 rem
@function rem($size) {
  $default-size: 16px;
  $remSize: $size / $default-size;
  @return #{$remSize}rem;
}
//간격사이즈 rem
@function remInterval($size) {
  $default-size: 16px;
  $remSize: $size / $default-size;
  @return #{$remSize}rem;
}

// vertical center
@mixin vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
// horizontal center
@mixin horizontal-center {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
// all center
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// vender prefix
@mixin css3-prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

// common-border
@mixin border($width: 1px ,$color: $gray-100) {
  border: $width solid $color;
}

// vender prefix
@mixin mdi($icon, $font-size: inherit) {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: $font-size;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon;
  // font-size: inherit;
}
// hidden
@mixin hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

// font-face
@mixin font-face($name, $file) {
  @font-face {
      font-family: "#{$name}";
      src: url("../fonts/#{$file}.eot");
      src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
      url("../fonts/#{$file}.woff") format("woff"),
      url("../fonts/#{$file}.ttf") format("truetype"),
      url("../fonts/#{$file}.svg?#webfont") format("svg");
  }
}

// Reset Style Button
@mixin resetButton() {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
  color: $gray-700;
}

// Reset auto Button
@mixin autoButton() {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  min-width: auto;
  height: auto;
}

// Reset Style Input
@mixin resetInput() {
  display: block;
  width: 100%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  appearance: none;
  background-color: transparent;
}

// clearfix
@mixin clearfix() {
  &:before,
  &:after {
      content:'';
      display: block;
      clear: both;
  }
}
// middle
@mixin middle() {
  font-size: 0;
  &::before{
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

//transition
@mixin transiton($duration, $props: all) {
  @include css3-prefix(transition, #{$duration} #{$props});
}

// bg interval
@mixin bgHorizon($position, $width, $height, $interval: 0) {
  padding-#{$position} : ($width + $interval)*1px !important;
  background-repeat: no-repeat;
  background-position: $position center;
  background-size: $width*1px $height*1px;
}

@mixin Light18() {
  font-size: rem(18px); font-weight: 300; letter-spacing: -0.8px; line-height: 1.3; color: $gray-700
}
@mixin Regular18() {
  font-size: rem(18px); font-weight: 400; letter-spacing: -0.8px; line-height: 1.3; color: $gray-700
}
@mixin Medium18() {
  font-size: rem(18px); font-weight: 500; letter-spacing: -0.8px; line-height: 1.3; color: $gray-700
}
@mixin Bold18() {
  font-size: rem(18px); font-weight: 700; letter-spacing: -0.8px; line-height: 1.3; color: $gray-700
}

// function

//img경로
@function path($src, $dir: images) {
  $src: unquote($src);
  @return url(unquote("..")/$dir/$src);
}
