@import './reset.scss';
@import './variables.scss';
@import './mixin.scss';
@import './common.scss';


.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $gray-100;
}

section {
  & + & {
    margin-top: 40px;
  }
}

.container {
  border: 5px solid red;
  padding: 10px;
  margin: 5px;
  h1 {
    font-size: rem(30px);
    font-weight: 500;
  }
  h2 {
    font-size: rem(20px);
    font-weight: 500;
  }
  button {
    border: 1px solid $gray-700;
    padding: 2px;
    border-radius: 5px;
  }
}