@import './variables.scss';
@import './mixin.scss';

* {transition: .2s all;}
.todo {
  @include Medium18;
  padding: 33px 22px;
  &__title {
    text-align: center;
  }
  &__item {
    & + & {
      margin-top: 12px;
    }
    &-check {
      $this: &;
      width: 100%;
      label {
        display: flex;
        align-items: center;
      }
      input {
        &:checked {
          & + #{$this}-icon {
            display: none;
          }
          & ~ .complete {
            display: block;
          }
        }
      }
      &-icon {
        display: block;
        border-radius: 5px;
        min-width: 20px;
        width: 20px;
        height: 20px;
        background-color: $gray-100;
        overflow: hidden;
        &.complete {
          background-color: $gray-700;
          color: #fff;
          display: none;
        }
      }
    }
    &-button {
      padding: 2px;
      margin: 0 2px;
      &area {
        margin: -2px -4px -2px 6px;
        display: flex;
        align-items: center;
      }
      &-icon {
        display: block;
      }
    }
  }
  &__content {
    $this: &;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    opacity: 1;
    &-text {
      font-weight: 700;
      padding: 0 10px;
    }
    &.complete {
      opacity: .4;
      #{$this}-text {
        text-decoration: line-through;
      }
    }
  }
  &__detail {
    margin-top: 36px;
    position: relative;
    &-desc {
      border-radius: 16px;
      overflow: hidden;
      filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
      height: 300px;
      margin-top: 40px;
      textarea {
        display: block;
        width: 100%;
        background-color: $gold-100;
        height: 100%;
        padding: 16px;
        &::placeholder {
          color: $gold-200;
        }
      }
    }
  }
}

.form {
  margin-top: 36px;
  &-wrap {
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    background-color: #fff;
  }
  &__element {
    padding: 14px 16px;
    width: 100%;
  }
  &__button {
    margin-left: auto;
    background-color: $green;
    color: #fff;
    padding: 14px 16px;
    &.update {
      background-color: $purple;
    }
  }
}

.button {
  &-base {
    height: 60px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
    padding: 12px 20px;
    background-color: $green;
    color: #fff;
    width: 100%;
    font-weight: 700;
    text-align: center;
    &--cancel {
      background-color: $gray-200;
    }
    & + &{
      margin-left: 10px;
    }
  }
  &-area {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 22px;
    width: 100%;
    display: flex;
  }
  &-prev {
    background-color: #fff;
    position: absolute;
    left: -22px;
    top: -66px;
    border-radius: 0 10px 10px 0;
  }
}

.icon {
  display: block;
  &-prev {
    font-size: rem(36px);
  }
}